@layer components {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    box-shadow: none;
  }

  body {
    font-family: var(--font-primary);
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--color-primary-font);
     /* cursor: url("/public/vite.svg"), auto; */
     user-select: none;
  }

  /* Add this in index.css or global.css */
  .cursor-custom {
    cursor: url("/public/vite.svg"), auto;
  }

  @keyframes arrow-image-bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2px);
    }
  }

  .arrow-image-bounce {
    animation: arrow-image-bounce 2s ease-in-out infinite;
  }
}
