@import url("./styles/global.css");
@import url("./styles/fonts/MoudlyCheeseRegular.css");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: "MouldyCheeseRegular", "tamil", "sans-serif";
  --color-primary-background: #ffffff;
  --color-secondary-background: #202020;

  /* font style */
  --color-primary-font: #e0e0e0;
  --color-head-font: #98c379;

  /* button css */
  --color-primary-button-bg: #212121;

  /* grey colors */
  --color-primary-grey: #9b9999;

  /* border colors */
  --color-secondary-border: #e1e4e8;

  /* primary colors */
  --color-primary-red: #f95720;
  --color-primary-orange: #fa982c;

  /* social link colors */
  --color-linkedin: #0a66c2;
  --color-leetcode: #e6ad34;
  --color-git: #3e2c00;
}
